{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'stats' %}">Device Consumption</a></li>
{% endblock %}

{% block content %}
<div id="gauge" class="200x160px"></div>
<table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Bulb Name</th>
          <th>Zone</th>
          <th>Brightness</th>
          <th>State</th>
          <th>Protocol</th>
        </tr>
      </thead>
      <tbody>
        {% for bulb in bulbs %}
          <tr>
            <td>
              <a href="{% url 'edit_bulb' bulb.pk %}">{{ bulb.name }}</a>
            </td>
            <td>
              {{ bulb.zone }}
            </td>    
            <td>
              {{ bulb.brightness }}%
            </td>    
            <td>
              {% if bulb.onOff %}
                On
              {% else %}
                Off
              {% endif%}
            </td>    
            <td>
              WiFi
            </td> 
          </tr>
        {% endfor %}
      </tbody> 
</table> 
<form method="POST">
	{% csrf_token %}
	<button type="submit" name="start_fresh">Get Bulbs</button>
</form>



<script>
  var g = new JustGage({
    id: "gauge",
    value: {{ randNum }},
    min: 0,
    max: 100,
    title: "Current Power Consumption"
  });
</script>
{% endblock %}

